<div class="formItem {{ field.field_class|default('') }}">
    <div class="formKey">
        {% if field.label|default('') %}{{ field.label|trans }}{% endif %}{% if field.required|default(0) %}<span class="required">*</span>{% endif %}
    </div><div class="formValue">
        <textarea name="{{ field.name|default('') }}" data-error="{{ field.error|default('') }}"
                {% if field.onchange|default('') %}onchange="{{ field.onchange }}"{% endif %}>
            {{ field.value|default('') }}
        </textarea>
        {#<div class="grippie"></div>#}
        {% if field.description|default('') %}<div class="formDescription">{{ field.description }}</div>{% endif %}
    </div>
</div>