<script type="text/javascript">
    $(document).ready(function(){
        $('input[name="{{ field.name|default('') }}"]').datepicker({
			dateFormat: "{{ field.format|default('yy-mm-dd') }}",
            {% if field.min_date %}minDate: "{{ field.min_date }}",{% endif %}
            {% if field.max_date %}maxDate: "{{ field.max_date }}",{% endif %}
            {% if field.default_date %}defaultDate: "{{ field.default_date }}",{% endif %}
        });
    });
</script>
<div class="formItem {{ field.field_class|default('') }}">
    <div class="formKey">
        {% if field.label|default('') %}{{ field.label|trans }}{% endif %}{% if field.required|default(0) %}<span class="required">*</span>{% endif %}
    </div><div class="formValue">
        <input type="text" name="{{ field.name|default('') }}" value="{{ field.value|default('') }}" placeholder="{{ field.placeholder|default('') }}"
        {% if field.maxlength|default(0) %}maxlength="{{ field.maxlength }}"{% endif %} data-error="{{ field.error|default('') }}"
        {% if field.onchange|default('') %}onchange="{{ field.onchange }}"{% endif %} >
        {% if field.description|default('') %}<div class="formDescription">{{ field.description }}</div>{% endif %}
    </div>
</div>