{% extends 'layout.html.twig' %}
{% set addClass = 'destinations' %}

{% set title = 'front.destinations'|trans %}


{% block body %}

	{% include 'particials/breadcrumbs.html.twig' %}

    <script type="text/javascript">
        $(document).ready(function(){
			tsar.destinationSearch();
        });
    </script>

    <div class="wrapPage">
        {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
            {% include 'particials/front_admin_config_list.html.twig' with { 'type' : 'destination' } %}
        {% endif %}
        <div class="mainBlockForDetailPage">

            <div class="blockTopBanner">
                {% include 'particials/frontBannerTop.html.twig' with {'size': 'thumb970x123',option:'site_front_banner_top_rus_dectination'} %}
            </div>

            <h2 class="destinationsTitle">{{ title }}</h2>

            <div class="destinationsSearch">
                <span class="inputSearchIcon">
                <i class="fa fa-search"></i></span><input id="destinationsSearch" type="text" value="" placeholder="{{ 'front.destinations.search'|trans }}" name="destinationsSearch"/>
            </div>

            <div class="destinationsContent">
                <div class="destinationsColumn">
                    {% for item in destinations %}
                            <div class="destinationsItem">
                                <div class="isMaster">
                                    <a href="{{ path('home_destination_detail_'~app.request.locale, {slug:item.translate.slug}) }}">
                                        {{ item.translate.name }}
                                    </a>
                                </div>
                                <div class="isChildren">
                                    {% for i in item.children %}
                                        <a href="{{ path('home_destination_detail_'~app.request.locale, {slug:i.translate.slug}) }}"
                                           class="{% if i.getTypeDestination.id == 26 %}ville{% endif %}">
                                            {{ i.translate.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
