<div class="item form-group">
    <h4 class="col-md-12 col-sm-12 col-xs-12">
        {{ field.label|trans }} {% if field.required|default(0) %}<span class="required">*</span>{% endif %}
    </h4>

    {% for key,value in field.values %}
        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ value|trans }}">
            {{ value|trans }}
        </label>
        <div class="col-md-10 col-sm-10 col-xs-12 checkbox">
            <div class="icheckbox_flat-green {% if key in field.checked_values %}checked{% endif %}">
                <input type="hidden" name="{{ (field.name) ~ '['~key~']' }}" value="0" />
                <input type="checkbox" class="flat" id="{{ value|trans }}" name="{{ (field.name) ~ '['~key~']' }}" value="{{ 1 }}" {% if key in field.checked_values %}checked{% endif %}/>
            </div>
        </div>
    {% endfor %}


</div>