<div class="item form-group">

    <script type="text/javascript">
		$(document).ready(function(){
			$('div[data-field="{{ field.name }}"]').find('.button_delete').click(function(){
				if (confirm('{{ 'adm.action.delete.confirm'|trans }}')) {
					$(this).siblings('input[type="hidden"]').val('');
					$(this).siblings('input[type="file"]').val('');
					$(this).siblings('img').attr('src', $(this).parent().attr('data-default'));
					$(this).siblings('.button_edit').hide();
				} else {
					return false;
				}
			});
			$('div[data-field="{{ field.name }}"]').find('.button_change').click(function(){
				$(this).siblings('input[type="file"]').click();
			});
			$('div[data-field="{{ field.name }}"]').find('input[type="file"]').change(function(){
				var $this = $(this);
				var $val = $this.val();
				if ($val == '') {
					return false;
				}
				var formData = new FormData();
				formData.append('file', $(this)[0].files[0]);
				$.ajax({
                    {#url: '{{ upload_path|raw }}',#}
					url: "{{ upload_path }}",
					type: 'POST',
					dataType: 'json',
					beforeSend: function () {
					},
					success: function ($data) {
						var $thumb = $data.thumbnail_100;
						var $id = $data.id;
						$this.siblings('input[type="hidden"]').val($id);
						$this.val('');
						$this.siblings('img').attr('src', $thumb);
						var $path = '{{ path('admin_files_edit', {id : 0 }) }}';
						$this.siblings('.button_edit').attr('href', $path+'/'+$id).show();
					},
					error: function ($data) {
					},
					data: formData,
					cache: false,
					contentType: false,
					processData: false
				});
			});
		});
    </script>

    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="{{ field.name|trans }}">
        {{ field.label|trans }} {% if field.required|default(0) %}<span class="required">*</span>{% endif %}
    </label>
    <div class="col-md-10 col-sm-10 col-xs-12 control-image" data-field="{{ field.name }}">

        <div class="image_preview" data-default="{{ asset(upload_default)|imagine_filter('thumb100x100') }}">
            {% if field.value|default('') %}
                <img src="{{ asset(upload_web ~ field.path)|imagine_filter('thumb100x100') }}" width="100" height="100">
            {% else %}
                <img src="{{ asset(upload_default)|imagine_filter('thumb100x100') }}" width="100" height="100">
            {% endif %}

            <button type="button" class="btn btn-primary btn-xs button_change">{{ 'adm.button.addchange'|trans }}</button>

            <a href="{{ path('admin_files_edit', {id : field.value|default(0) }) }}" type="button" class="btn btn-default btn-xs button_edit" target="_blank" {% if not field.value|default(0) %}style="display: none;"{% endif %}>{{ 'adm.button.edit'|trans }}</a>

            <button type="button" class="btn btn-danger btn-xs button_delete">{{ 'adm.button.delete'|trans }}</button>

            <input type="file" name="file_{{ field.name }}" style="display: none;" accept="image/*">
            <input type="hidden" class="form-control col-md-7 col-xs-12" name="{{ field.name }}" value="{{ field.value }}" />
        </div>

    </div>
</div>