{% set has = 0 %}
{% for itemDomain in item.getTypeDomain %}
    {% if itemDomain.id == app.session.get(domain_variable_name) %}{% set has = 1 %}{% endif %}
{% endfor %}

{#{% if has and item.translate(app.request.locale,false).active %}#}
{% if has and item.translate.active %}
    {% if item.type == 'category' %}
        <div class="menuBlockName">{{ item.translate.name }}</div>
    {% elseif item.type == 'separator' %}
        <li class="separator">{{ item.translate.name }}</li>
    {% else %}
        {% if item.external %}
            <li><a href="{{ item.translate.slug }}" rel="nofollow" target="_blank">{{ item.translate.name }}</a></li>
        {% else %}
            {% set itemUrl = '/'~ app.request.locale ~ (item.translate.slug)|translateUrl %}
            <li {% if app.request.getPathInfo == itemUrl or preg_match(itemUrl,app.request.getPathInfo) %}class="active"{% endif %}><a href="{{ itemUrl }}">{{ item.translate.name }}</a></li>
        {% endif %}

    {% endif %}
    {% if item.children(true)|length > 0 %}
        <ul>
            {% for i in item.children(true)|length > 0 %}
                {% include 'particials/menu_item.html.twig' with { 'item' : i } %}
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}